{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="m-5">
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Lastname) }}
        {{ form_row(registrationForm.Firstname) }}
        {{ form_row(registrationForm.address) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primary mt-3">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
