{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <h1>Edit Category</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a class = "btn btn-secondary mt-3" href="{{ path('category_index') }}">back to list</a>

    {{ include('category/_delete_form.html.twig') }}
    {% else %}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
