{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-secondary mt-3" href="{{ path('category_index') }}">back to list</a>
    {% else %}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
