{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}




<div class= p-5 text-center>
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<h2>Vous etes connecté</h2>
<p class = p-3>Vous pouvez désormais acceder aux differents services via la barre de navigation </p>
{% else %}
<h2>Veuillez vous <a href="/login">connecter</a> pour acceder aux differentes fonctionnalités.</h2>
<p class = p-3>Vous n'avez pas de compte ? Creer en un <a href="/register">ici</a>
{% endif %}
</div>

{% endblock %}
