
html {
    background-color: #b1b6e6;
}

body {
    background-color: #b1b6e6;
}
input, textarea, select{
    background-color:palegoldenrod !important;
    border:solid rgb(102, 99, 71) 2px !important;
}

input:focus, textarea:focus, select:focus{
    background-color:rgb(228, 221, 149) !important;
    border:solid rgb(58, 56, 40) px !important;

}

img, .max-size {
    max-height:20vh !important;

}
img {
    max-width: 20vh !important;
}


.nopadding {
    padding: 0 !important; 
}


th {
    border:solid black 2px !important;
    background-color:thistle !important;
}

td {
    border:solid black 2px !important;
}
tr {
    background-color:burlywood !important;
}

tr:hover {
    background-color: rgb(209, 166, 109) !important;
}

