{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a class = "btn btn-secondary mt-3" href="{{ path('product_index') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
    {% else %}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
