{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

    <h1>Create new Product</h1>

    {{ include('product/_form.html.twig') }}

    <a class="btn btn-secondary mt-3" href="{{ path('product_index') }}">back to list</a>
    {% else %}
    <p>Accés refusé, veuillez vous connecter </p>
    {% endif %}
{% endblock %}
