<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="/style.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
      <div class="row g-0 max-size">
        <div class="col-md bg-secondary text-white nopadding ">
          <img src="https://gitlab.com/VAZFlorian/gestion-de-produits/-/raw/main/Gestion%20de%20produits.png"  alt="logo.png class="col-sm-6 ">
        </div>
        <div class="col-md bg-secondary text-white text-center font-italic nopadding"><h1 class="mt-3">Gestion de produits</h1>
          <p>Simple et efficace</p>
        </div></div>
      </div>  

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Index</a>
                </li>
                
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
               <li class="nav-item">
                  <a class="nav-link" href="/product">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                  {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>



          <div class="m-5 text-center">  
        {% block body %}{% endblock %}
          </div>
    </body>
</html>
